<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tools.sewing.core.mapper.sewing.UserMapper">

    <resultMap id="UserMapperPO" type="com.tools.sewing.core.po.sewingMapper.UserMapperPO">
        <result property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="roleId" column="role_id" />
        <result property="roleName" column="role_name" />
    </resultMap>

    <select id="findAll" resultMap="UserMapperPO" resultType="List">
        SELECT
            u.id,
            u.`name` AS user_name,
            r.id,
            r.`name` AS role_name
        FROM
            users u,
            user_role ur,
            roles r
        WHERE
            u.id = ur.user_id
        AND r.id = ur.role_id
    </select>

</mapper>